{% extends "AughtSpaceBundle::layout.html.twig" %}

{% block content %}
    <div class="three columns sidebar">
        <nav>
            <h3 id="logo"><a href="{{ path('home_lang', {'_locale': app.request.locale}) }}" style="text-decoration: none;">{% trans %} app.name {% endtrans %}</a></h3>
            {% block sidebar %}{% endblock %}
        </nav>
    &nbsp;
    </div>
    <div class="twelve columns offset-by-one">
        <header>
            {% block main_block_title %}{% endblock %}
        </header>
        <hr class="large">
        {% block main_block %}{% endblock %}
    </div>
{% endblock %}
